html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial";
}

.contenedor {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.contenedor h3 {
  color: #0b3f78;
  padding-top: 50px;
}

.home {
  flex: 1;
  padding: 2vw 2vh;
}

header {
  background-color: #0b3f78;
  color: white;
  padding: 10px 5vw;
}

header p {
  padding-left: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a.active {
  color: #1aa5bc;
}

a:hover {
  color: #1aa5bc;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #12899f;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #0b3f78;
  color: white;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vw;
  align-items: center;
  flex-wrap: inherit;
}

.section h2 {
  padding-top: 30px;
  color: #0b3f78;
  text-align: center;
}

.contact {
  text-align: right;
  line-height: 25px;
}

#hero {
  height: 65vh;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.insideHero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
}

.insideHero h2 {
  padding: 30px;
  text-shadow: 0px 0px 10px white;
}

button {
  background-color: #12899f;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  margin: 1vh;
}

.myCarousel {
  width: 90%;
  align-self: center;
  text-align: center;
  padding: 10px;
}

.slide-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.city_img {
  width: 600px;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  margin: 15px;
}

.hSlides {
  background-color: #0b3f78;
  width: 600px;
  height: 40px;
  text-align: center;
  padding: 5px;
}

.pSlides {
  background-color: #12899f;
}

.searchInput {
  margin: 40px 0px 20px 0px;
  border: #12899f 3px solid;
  border-radius: 50px;
  padding: 5px 100px;
  outline: none;
}

.citiesCards {
  width: 500px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hCards {
  color: white;
  background-color: #12899f;
  padding: 5px;
}

.pCards {
  color: white;
  background-color: #0b3f78;
}

.cardsContainer {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.city {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.insideCity {
  text-align: center;
  color: white;
  padding-top: 150px;
}

.insideCities p {
  color: white;
  background-color: #0b3f78;
}

.insideCities h3 {
  color: white;
  background-color: #12899f;
  padding: 5px;
}

.loading {
  color: #0b3f78;
  padding-top: 40px;
}

.sorry {
  color: #0b3f78;
}

.itineraryContainer {
  background-color: rgba(243, 242, 242, 0.8);
  width: 600px;
  margin: 20px;
  padding-bottom: 10px;
  color: #0b3f78;
}


.itineraryContainer h4 {
  background-color: #0b3f78;
  color: white;
  padding: 20px;
}

.itineraryImg {
  width: 80%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 0px 30px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hashtags p {
  margin-right: 5px;
  /* color: #12899f; */
}

.author {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.author img {
  width: 100px;
  margin-right: 20px;
}

.cost-duration {
  display: flex;
  padding: 5px 0px;
}

.duration {
  display: flex;
  align-items: center;
  padding-left: 10px 
}

.duration p {
  padding-left: 5px;
}

.likes {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  justify-content: flex-end;
}

.likes p {
  padding-right: 5px;
}

.infoContainer {
  width: 80%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.contenedorItCity {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signupBox {
  background-color: #0b3f78;
  width: 85vw;
  align-self: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.signupBox input, select {
  width: 50%;
  border: #12899f 3px solid;
  border-radius: 50px;
  padding: 5px 20px;
  outline: none;
  margin: 10px 50px;
}

.signLogTitle {
  margin: 30px;
}

.inputsBox {
  width: 95%;
}

.errorsBox {
  color: rgb(197, 197, 197);
  height: 50px;
}

#imgUser {
  width: 50px/*  !important */;
  height: 50px/*  !important */;
  margin: 0px 10px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.select {
  color: gray;
  appearance: none;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerNav p {
  padding: 0px 5px;
}

@media (max-width: 700px) {
  .signupBox input, select {
    width: 95%;
    border: #12899f 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
    outline: none;
    margin: 10px 0px;
  }
}

@media (max-width: 991px) {
  .signupBox input, select {
    width: 90%;
    border: #12899f 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
    outline: none;
    margin: 10px 0px;
  }
}

.activityImg {
  width: 400px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.activityImg p {
  color: white;
  background-color: #12899f;

}

.activitiesContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

}

.commentsContainer {
  width: 90%;
  height: 100px;
  background-color: white;
  margin: 30px
}

.inputComments {
  width: 50%;
  border: #12899f 3px solid;
  border-radius: 50px;
  padding: 5px 20px;
  outline: none;
  margin: 10px 20px;
}